/* General Styles */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Logo and Header */
.logo {
    width: 350px;
    height: 350px;
}

h1 {
    text-align: center;
    color: #276183;
    margin: 10px 0;
    font-size: 40px;
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    animation: fade-in 1s ease-in-out; 
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.create-new-user-button,
.login-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
}

/* Popup Styles */
.create_new_user_popup {
    display: none;
    position: fixed;
    padding: 30px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border: 2px solid #276183;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.create_new_user_popup h2 {
    margin-top: 0;
    color: #276183;
    font-size: 24px;
    margin-bottom: 20px;
}

.create_new_user_popup form {
    margin-top: 20px;
}

.create_new_user_popup form input[type="text"],
.create_new_user_popup form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create_new_user_popup form input[type="submit"] {
    width: 100%;
    background-color: #276183;
    color: #FFF;
    border: none;
    padding: 12px; 
    cursor: pointer;
    font-size: 18px; 
    font-weight: bold; 
    border-radius: 4px;
}

.create_new_user_popup a {
    color: #276183;
    font-size: 16px;
}

/* Overlay for Popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

/* Header and User Navigation */
header {
    background-color: #276183;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.user-container a {
    color: #fff;
  }

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 26px;
    color: #fff;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

/* User Icon */
.user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

/* Settings Container */
.settings-container {
    display: none;
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: #276183;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.settings-container a {
    display: block;
    padding: 6px 12px;
    color: #ffffff;
    margin-bottom: 5px; 
}

.settings-container a:hover {
    background-color: #61859a;
}

/* Folders */
.folders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.folder {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    width: 180px;
    color: #000000;
}

.folder img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}


/* Book Details */
.book-cover {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

/* Rating Stars */
.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #444;
}

.rating label:before {
    content: '★';
    margin: 5px;
}

.rating input:checked ~ label,
.rating:not(:checked) label:hover,
.rating:not(:checked) label:hover ~ label {
    color: #FFD700;
}

.rating input:checked + label:hover,
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label,
.rating input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/* Add Button */
.add-button {
    padding: 10px;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5c869e;
    color: #fff;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Books List */
.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000000;
}

.book h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.book p {
    margin: 5px 0;
}

#selection {
    font-size: 14px; 
} 

/* Reviews */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.review {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review p {
    margin: 5px;
}

/* Error Message */
.error-message {
    color: #f00;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

/* Remove Underline from Links */
a {
    text-decoration: none;
    color:#000000
}

/* Add Book Form */
.add-book-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 400px;
    background: #fff;
    border: 2px solid #276183;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.add-book-form h2 {
    margin-top: 0;
    color: #276183;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-book-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.add-book-form input[type="text"],
.add-book-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-book-form textarea {
    resize: vertical;
}

.add-book-form input[type="submit"] {
    width: 100%;
    background-color: #276183;
    color: #FFF;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
}

.container {
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#showFormButton {
    padding: 10px; 
    font-size: 14px; 
    background-color: #276F83 ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#backButton {
    padding: 10px; 
    font-size: 14px; 
    background-color: #276183;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px; 
}

