{% extends "layout.html" %}
{% block content %}
<div class="content">
  <main>
    <h1>{{ folder_name }}</h1>
    <div class="books-list">
      {% for book in books %}
      <a href="/book/{{ book.book_id }}"> 
        <div class="book">
          <img src="{{ book_pic }}/{{ book.book_id }}{{ book.file_extension }}" onerror="this.onerror=null; this.src='../static/images/default-book-cover.png'" alt="Book Cover" class="book-cover">
          <h2>{{ book.title }}</h2>
          <p class="author"><b>Author:</b> {{ book.author }}</p>
          <form action="/folder/{{ book.folder_id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="book_id" value="{{ book.book_id }}">
            <button id="showFormButton" type="submit" class="remove-button">Remove From {{ folder_name }} folder</button>
        </div>
      </a>
      {% endfor %}
      <a id="backButton" href="/folders">Back to My Folders</a>
    </div>
  </main>
</div>
{% endblock %}
