{% extends "layout.html" %}
{% block content %}

<body>
  <main>
    <h1>My Folders</h1>
    <div class="folders">
      {% for folder in folders %}
        <a href="/folder/{{ folder[0] }}">
          <div class="folder">
            <img src="static/images/folder-icon.png" alt="Folder Icon">
            <p>{{ folder[1] }}</p>
          </div>
        </a>
      {% endfor %}
    </div>

    <button id="showFormButton" onclick="showForm()">Add New Folder</button>

    <div id="addFolderForm" style="display: none;">
      <form action="/folders" method="post">
          <label for="folder_name">Folder Name:</label>
          <input type="text" name="folder_name" required maxlength="20">
          <input type="submit" value="Create Folder" id="showFormButton">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </div>

    <script>
      function showForm() {
          const form = document.getElementById('addFolderForm');
          form.style.display = 'block';
      }
    </script>

    <a id="backButton" href="/app">back</a>
    
  </main>
</body>

{% endblock %}