{% extends "layout.html" %}
{% block content %}

<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="user_icon">User Icon:</label>
        <input type="file" name="user_icon" id="user_icon"><br>

        <label for="folder_pic">Folder Picture:</label>
        <input type="file" name="folder_pic" id="folder_pic"><br>

        <label for="book_pic">Book Picture:</label>
        <input type="file" name="book_pic" id="book_pic"><br>

        <input type="submit" value="Upload">
    </form>
</body>

{% endblock %}
